@import 'animations.scss';
@import 'elements.scss';
@import 'landing.scss';
@import 'modifier.scss';
@import 'section.scss';

body {
	margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}